 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
         
            <input type="text" name="name" value="" placeholder="Jay patel">
        </div>
        
        <div class="form-group">
            <label for="id" class="text-light">ID</label>
            <input type="text" name="id" value="" placeholder="C001">
        </div>
        <div class="form-group">
            <label for="phone no" class="text-light">Phone No</label>
            <input type="text" name="phone" value="" placeholder="6359482992">
        </div>
        <div class="form-group">
            <label for="village" class="text-light">Village</label>
         
            <input type="text" name="village" value="" placeholder="vakhatpura">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>