 <!-- form handling -->
 <form action="/data" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="time" class="text-light">Time</label>
         
            <input type="text" name="name" value="" placeholder="8:30">
        </div>
        <div class="form-group">
            <label for="Weight" class="text-light">Weight</label>
            <input type="text" name="weight" value="" placeholder="1000kg">
        </div>
        <div class="form-group">
            <label for="desctiption" class="text-light">description</label>
            <input type="text" name="description" value="" placeholder="chamber 2: aahiya aahiya che">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>