<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/dashboard"
          ><i class="fas fa-angle-double-left"></i> All Users</a
        >
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark"><%= user.name %></h2>
      <span class="text-light">Add the details here : <%= user.phone %></span>
    </div>

    <!-- add user form -->
    <!-- form handling -->
    <form
      action="/post/addpost"
      method="POST"
      id="add_user"
      enctype="multipart/form-data"
    >
      <div class="new_user">
        <div class="form-group">
          <label for="title" class="text-light">title</label>
          <input type="text" name="title" value="" placeholder="title..." />
        </div>

        <div class="form-group">
          <label for="desctiption" class="text-light">description</label>
          <input type="text" name="txt" value="" placeholder="desc..." />
        </div>
        <div class="form-group">
          <label for="desctiption" class="text-light">file1</label>
          <input type="file" name="myfile" onchange="getImagePreview(event)" />
          <div id="preview"></div>
        </div>
        <div class="form-group">
          <label for="desctiption" class="text-light">file2</label>
          <input
            type="file"
            name="file2"
            value=""
            placeholder="chamber 2: aahiya aahiya che"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

<script>
  function getImagePreview(event) {
    let image = URL.createObjectURL(event.target.files[0]);
    let imagediv = document.getElementById("preview");
    let newimg = document.createElement("img");
    newimg.src = image;
    imagediv.appendChild(newimg);
  }
</script>

<style>
  img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 215px;
    margin: auto;
    border-radius: 14px;
  }
</style>
